<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f5a31dd7-7c26-4f54-af94-faf6ce428418/resourcegroups/myGroup/providers/Microsoft.Web/sites/coralLogger</ResourceId>
    <ResourceGroup>myGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://corallogger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>corallogger.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>coralLogger</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$coralLogger</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="userEntities2" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:myserver99972.database.windows.net,1433;Initial Catalog=user;Persist Security Info=False;User ID=stephensmith;Password=Passport99?;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:myserver99972.database.windows.net,1433;Initial Catalog=user;Persist Security Info=False;User ID=stephensmith;Password=Passport99?;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication9.Models.userEntities2, WebApplication9" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:myserver99972.database.windows.net,1433;Initial Catalog=user;Persist Security Info=False;User ID=stephensmith;Password=Passport99?;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:myserver99972.database.windows.net,1433;Initial Catalog=user;Persist Security Info=False;User ID=stephensmith;Password=Passport99?;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApplication9.Models.SiteDataContext, WebApplication9" MigrationConfiguration="WebApplication9.Migrations.Configuration, WebApplication9" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="userEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.myUsers.csdl|res://*/Models.myUsers.ssdl|res://*/Models.myUsers.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:myserver99972.database.windows.net,1433;Initial Catalog=user;Persist Security Info=False;User ID=stephensmith;Password=Passport99?;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:myserver99972.database.windows.net,1433;Initial Catalog=user;Persist Security Info=False;User ID=stephensmith;Password=Passport99?;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>