<style>
    .article  li{
  margin: 10px 0;
}
</style>
<h1>About Us</h1>
<h2>Rules</h2>




<hr />
<article>
    <header class="knowledge-page-header">
        <h1> House rules for Sellers</h1>
        <p><time datetime="2019-09-26T09:29:34Z" title="2019-09-26 10:29" data-datetime="calendar">September 26, 2019 10:29</time></p>
    </header>
    <div class="article">
        <div class="article-body">
            <p>Reef-Connect.com is a place for private individuals to connect, sell or trade items. As a community-based website, Reef-Connect.com is committed to providing a safe, fair and pleasant trading environment for all members. The guidelines and policies listed below will give you a good insight of what is expected of you as an Reef-Connect.com member. Please read them carefully.</p>
            <p>You are responsible for reviewing and understanding Reef-Connect.com's policies, as well as all applicable laws and regulations as outlined in the website's&nbsp;<a href="https://help.Reef-Connect.com/hc/en-us/articles/36" target="_blank" rel="noopener">Terms and Conditions</a>.</p>
            <p>Remember, you can find&nbsp;and manage all of your ads through your dashboard. You can find this on web&nbsp;by clicking your username or on mobile by tapping "My Profile.</p>
            <p><span class="wysiwyg-font-size-large"><strong>General rules:</strong></span></p>
            <ol>
                <li><strong>Maximum Adds:</strong>&nbsp;Max amount of adds is set to 15. Store accounts will be available soon. Contact us for more information.</li>

                <li><strong>Contact details:</strong>&nbsp;Email addresses and phone numbers are not to be included within the description of listings, comments or questions.</li>
                <li><strong>Logos and Links:</strong>&nbsp;You must not use Reef-Connect.com listings or logos to promote any other business or website.</li>
                <li><strong>Multiple accounts:</strong>&nbsp;Only one account per user. All multiple accounts will be deleted.</li>
                <li><strong>All communications in English</strong></li>
                <li><strong>Personal abuse / Discrimination:</strong>&nbsp;Discrimination in any form and use of bad language are not allowed and will be deleted.</li>
                @*<li><strong>Forbidden Items</strong>&nbsp;Check the full list of forbidden items&nbsp;<a href="https://help.Reef-Connect.com/hc/en-us/articles/Forbidden-items" target="_blank" rel="noopener">here.</a></li>*@
                <li><strong>Post ads in correct categories:</strong>&nbsp;Please post your ad in the appropriate category. We reserve the right to delete ads placed in the wrong category.</li>
                <li><strong>Profiteering:</strong>&nbsp;Attempting to sell an item above the Recommended Retail Price (RRP)&nbsp;<br>Reef-Connect.com is a community marketplace and does not encourage profiteering.&nbsp;<br> Reef-Connect.com moderators reserve the right to remove any ad that is deemed excessive.</li>
                <li><strong>Commercial sales / Shops</strong>&nbsp;You need to contact us to set up an authorised shop account. Please read our rules&nbsp;<a href="https://help.Reef-Connect.com/hc/en-us/articles/House-rules-for-Shops" target="_blank" rel="noopener">here</a></li>
                <li><strong>Honour your commitment to buy and sell.</strong></li>
                <li><strong>Free items must have an option for collection:&nbsp;</strong>Any items which are listed for free must be available for collection. Only offering users the ability to receive the item by post is not allowed.</li>
                <li>Please do not list ads for your active ads or advertising your active ads. These will be removed.</li>
                <li>Auctions are not allowed on Adverts. On occasion we may waive this rule for certain charity items once we have verified the&nbsp;authenticity of the item and charity.&nbsp;</li>
            </ol>
            <p><span class="wysiwyg-font-size-large"><strong>As a seller, you are committed:</strong></span></p>
            <ol>
                <li>To keep all dealings bargaining, offers, etc. on the thread. PMs are not allowed until an offer / provisional offer has been accepted.</li>
                <li>To always include a valid asking price* on your 'For Sale' ads. Please keep all prices fair and do not increase the asking price after a first comment has been made.</li>
                <li>To keep all listings accurate and current. Mark your item as sold as soon as a deal is agreed.</li>
                <li>To only post one item per ad, and only choose one category for your ad. Multiple and duplicate ads will be deleted.</li>
                <li>To complete the sale of your item(s) here on Reef-Connect.com if a member or members have expressed active, definite interest.</li>
                <li>Not to accept any offer above the current asking price.</li>
                <li>To follow through on a deal once an offer has been accepted. Sellers are encouraged to take a buyer's feedback into consideration before accepting an offer&nbsp;and are free to accept any offer made regardless of the order in which it was placed.</li>
                <li>Not to accept any money offered for items posted in the Free section.</li>
            </ol>
            <p>*The asking price is defined as: "the price that the seller has listed on their ad". The listed price cannot be increased, but can be reduced.&nbsp;</p>
            <p>Breaches of these policies may result in a range of actions, including:</p>
            <ul>
                <li>Removal of thread.</li>
                <li>Account suspension.</li>
                <li>Account removal.</li>
                <li>Blocking of IP address.</li>
                @*<li><a href="https://help.Reef-Connect.com/hc/en-us/articles/My-account-is-blocked" target="_blank" rel="noopener">Account suspension</a>.</li>*@
            </ul>
            <p>We reserve the right to edit and delete ads from our site at any time and without prior notice.&nbsp;<br><br>Thank you for reading these rules, and good luck with your buying and selling experience on Reef-Connect.com!</p>
        </div>
        <div class="article-attachments">
            <ul class="attachments">
            </ul>
        </div>
        @*<footer class="article-footer clearfix">

            <div class="article-vote">
                <span class="article-vote-question">Was this article helpful?</span>
                <div class="article-vote-controls">
                    <a role="button" rel="nofollow" class="article-vote-up" title="Yes" aria-selected="false" data-auth-action="signin" href="/hc/en-us/signin?return_to=https%3A%2F%2Fhelp.Reef-Connect.com%2Fhc%2Fen-us%2Farticles%2F360001284769-House-rules-for-Sellers"></a>
                    <a role="button" rel="nofollow" class="article-vote-down" title="No" aria-selected="false" data-auth-action="signin" href="/hc/en-us/signin?return_to=https%3A%2F%2Fhelp.Reef-Connect.com%2Fhc%2Fen-us%2Farticles%2F360001284769-House-rules-for-Sellers"></a>
                </div>
                <small class="article-vote-count">
                    <span class="article-vote-label">11 out of 19 found this helpful</span>
                </small>
            </div>

            <ul class="share">
                <li><a href="https://www.facebook.com/share.php?title=House+rules+for+Sellers&amp;u=https%3A%2F%2Fhelp.Reef-Connect.com%2Fhc%2Fen-us%2Farticles%2F360001284769-House-rules-for-Sellers" class="share-facebook">Facebook</a></li>
                <li><a href="https://twitter.com/share?lang=en&amp;text=House+rules+for+Sellers&amp;url=https%3A%2F%2Fhelp.Reef-Connect.com%2Fhc%2Fen-us%2Farticles%2F360001284769-House-rules-for-Sellers" class="share-twitter">Twitter</a></li>
                <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;source=Adverts&amp;title=House+rules+for+Sellers&amp;url=https%3A%2F%2Fhelp.Reef-Connect.com%2Fhc%2Fen-us%2Farticles%2F360001284769-House-rules-for-Sellers" class="share-linkedin">LinkedIn</a></li>
            </ul>

        </footer>*@
    </div>
</article>

<p>Reef Connect, connecting reefers worldwide.</p>
