@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @{ 
        var id = "";
        if(User.Identity.Name == null) {
            id = "you";
            }
        else {

            id = User.Identity.Name;

            }
    }
    <div id="user" class="@id"></div>
    <div>

        <div class="container">
            <br />
            <div id="bot" role="main" />
            <br />
            <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
        </div>

        <script>
            var user = {
                id: 'user',
                //name: 'You'
                name: document.getElementById("user").className
            };
            var botConnection = new BotChat.DirectLine({
                token: 'Dwc1w5CVaJU.wlOAeFZaFprzjrNcOO-mJXJd6x1s0nYTmfvQAS5zcUY',
                user: user
            });
            BotChat.App({
                user: user,
                botConnection: botConnection,
                bot: { id: 'reef-connect', name: 'reef-connect' },
                resize: 'detect'
            }, document.getElementById("bot"));
            botConnection
                .postActivity({
                    from: user,
                    name: 'tips',
                    type: 'event',
                    text: 'acclimation'

                })
                .subscribe(function (id) {
                    console.log('"trigger requestWelcomeDialog" sent');
                });
        </script>

    </div>
</body>
</html>
