<style>
    .article li {
        margin: 10px 0;
    }
    #email {
        font: bold 34px;
        font-size: 20px;
    }
</style>
<h1>Contact Me</h1>

<div class="col-12" id="email">
    <address>
        <strong>Support:</strong>   <a href="mailto:support@reef-connect.com">support@reef-connect.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@reef-connect.com">marketing@reef-connect.com</a>
    </address>
</div>
<hr />
<div class="article">
    <h3>Pitching to me </h3>
    <h4>Notes for PR and Marketing people</h4>

    <h4>
        If you want to pay for advertising, none of this will affect you. If you are looking for free advertising in any way read on ....
    </h4>
    <p>I write this about pitching to me. I am certainly not speaking on behalf of any other user.</p>

    <ul>
        <li>
            Send me a personalised email if you would like a response. <a href="mailto: stephen@reef-connect.com"> stephen@reef-connect.com</a>
        </li>
        <li>Do not add me to mailing lists.</li>

        <li>
            Read this site to see what users write about / use it for.
        </li>
        <li>
            This is not a blog, not a newspaper or radio station. While it might be an ego boost to think I am at the stature of a trained journalist, I am not.
            <br />Don’t hoodwink a client with this line or the “influencer” line.
        </li>
        <li>
            Do not ever send me a press release without checking first. You WILL be marked as spam. It is not my job to sift through your PR bull just to get a nugget of information.
            <br />   I do not have time for this. I also do not have "space to fill".&nbsp; Stop being lazy and saying “see release”.
        </li>
        <li>
            If you send me products unsolicited, If I do blog about or Tweet them I will always say "This was an unsolicited product.".
          <br />  In addition, offering me "freebies" or other services will always be classed as "payment".
        </li>
        <li>
            No thanks, I won’t come to a launch event, press conference or press trip. 
            <br />Enjoy yourself though 😉
        </li>
        <li>
            Using the “but we’re a charity” line when your CEO is on 6 figures just isn’t going to work.
        </li>
        <li>
            No you can’t “Guest Blog” on this site. @*Try your SEO 💩 elsewhere.*@
        </li>
        <li>
            Do not add me to mailing lists !!! 
            <br />This needs to be written a second time it seems.
        </li>
    </ul>
    <p>
        @*Grow a pair if this offends you. It’s childish and unprofessional of you to get annoyed at this. I am a one man band. !!!*@
    </p>
    <h3>
       Remember, If you want to pay for advertising, none of this will affect you.
    </h3>
</div>