@{
    ViewBag.Title = "Contact";
}

<h3>Contact us</h3>

<div class="col-12">
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@reef-connect.com">Support@reef-connect.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@reef-connect.com">Marketing@reef-connect.com</a>
    </address>
</div>