@model IEnumerable<WebApplication9.Models.Feedback>

<h1>feedback details partial</h1>
<div class="row">
 
    @*@foreach (var item in Model)
    {
        var pos = 0;
        var neg = 0;
        if (item.FeedbackType == 0)
        {
            pos++;
        }
        else
        {
            neg++;
        }


    }
    @pos*@


</div>

